/* General styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #1C1C1C; /* Dark background */
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1, h2 {
    font-family: 'Jomolhari', serif;
    color: #b22222;
    margin-bottom: 10px;
}

span {
    font-family: 'Inter' sans-serif;
}

p {
    font-family: 'Jomolhari', serif;
}

/* Welcome Page Styles */
.welcome-body {
    background: url('img/bulul.png') no-repeat center center fixed, #1C1C1C; /* Image overlaid on a dark background */
    background-size: 300px; /* Adjust as needed */
    box-shadow: none; /* Remove the box-shadow */
}

.welcome-container {
    margin-top: 250px;
    text-align: center;
    padding: 50px;
    border-radius: 20px;
    box-shadow: none;
}

.welcome-container h1 {
    color: #FFFFFF;
    font-size: x-large;
    font-weight: lighter;
}

/* Login Page Styles */
.login-body {
    background: url('img/bulul-low-op.png') no-repeat center center fixed;
    background-color: #1C1C1C;
    background-size: 300px; /* Adjust as needed */
    box-shadow: none; /* Remove the box-shadow */
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: auto;
    border-radius: 20px;
    box-shadow: none;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.login-container h1 {
    color: #FFFFFF;
}

/*Access as Guest Styles*/
.access-container {
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    box-shadow: none;
    max-width: 400px;
    width: 100%;
    box-shadow: none;
}

.checkbox-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
    margin-bottom: 20px;
}

.input-container {
    margin-bottom: 10px;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #b22222;
    border-radius: 5px;
    background-color: rgba(28, 28, 28, 0.8);
    color: #FFFFFF;
    outline: none;
    font-size: 16px;
}

.hidden {
    display: none;
}

h1, .header1 {
    font-family: 'Jomolhari', serif;
    color: #b22222;
    margin-bottom: 20px;
}

li {
    font-family: 'Inter', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-container {
    position: relative;
    margin-bottom: 10px;
}

.input-container input {
    padding-left: 30px; /* Space for the icon */
    padding-right: 12px; /* Adjust as necessary */
    padding-top: 10px; /* Adjust vertical padding to center text */
    padding-bottom: 10px; /* Adjust vertical padding to center text */
    width: 100%; /* Ensures the input field spans the container */
    border: 1px solid #b22222;
    border-radius: 5px;
    text-indent: 30px; /* Creates a tabbed effect for the input text */
    background-color: rgba(0, 0, 0, 0.2);
    color: #B22222;
    outline: none;
    font-size: 16px;
}

.input-container .toggle-password {
    position: absolute;
    right: 100px;
    left: 195px;
    transform: translateY(-15%);
    cursor: pointer;
    color: #b22222;
}  

.input-container i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-10%);
    color: #b22222; /* Adjust icon color as needed */
}

.input-container .icon-left {
    left: 10px;
    top: 40px;
}

input[type="text"],
input[type="password"] {
    padding: 12px;
    margin-bottom: 10px;
    border: 3px solid #b22222;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    color: #FFFFFF;
}

button {
    background-color: #b22222;
    color: #FFFFFF;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
    margin-top: 55px; /* Adjusted margin */
}

button:hover {
    background-color: #8B0000;
}

/* Red button styles */
.btn-red {
    background-color: #b22222;
    color: #FFFFFF;
    border: 1.25px solid #b22222;
    padding: 12px 50px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    margin: 5px;
    transition: background-color 0.3s ease-in-out;
}

.btn-red:hover {
    background-color: #FFFFFF; /* Darkened primary color */
    color: #8B0000;
    border: 1.25px solid #b22222;
}

/* White button styles */
.btn-white {
    background-color:#FFFFFF;
    color: #b22222;
    border: 1.25px solid #b22222;
    padding: 12px 50px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    margin: 5px;
    transition: background-color 0.3s ease-in-out;
}

.btn-white:hover {
    background-color: #B22222; /* Darkened primary color */
    color: #FFFFFF;
    border: 1.25px solid #FFFFFF;
}

.access-body {
    font-family: 'Inter', sans-serif;
    background: url('img/bulul-low-op.png') no-repeat center center fixed, #1C1C1C; /* Image overlaid on a dark background */
    background-size: 300px; /* Adjust as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative; /* Ensure relative positioning for absolute logo */
    color: #FFFFFF;
}

.access-buttons {
    display: flex;
    flex-direction: column; /* Ensure buttons stack vertically */
    align-items: center; /* Center align items horizontally */
}

.custom-radio {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    margin-bottom: 10px;
}

.custom-radio input[type="radio"] {
    display: none; /* Hide the actual radio button */
}

.custom-radio input[type="radio"] + .custom-radio-span {
    width: 20px;
    height: 20px;
    border: 2px solid #b22222;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    margin-right: 10px;
}

.custom-radio input[type="radio"]:checked + .custom-radio-span::before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #b22222;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-container {
    width: 100%; /* Ensures both forms take up the same width */
    max-width: 100%; /* Prevents overflow beyond container */
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
    min-height: 200px; /* Set a minimum height for consistency */
}

.back-button-container {
    position: absolute;
    top: 50px;
    left: 20px;
}

.logo-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.logo {
    max-width: 180px;
    height: auto;
}

/* Navbar styles */
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: 70px;
    background: #1C1C1C;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 99;
  }
  nav .navbar{
    height: 100%;
    max-width: 1250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    /* background: red; */
    padding: 0 50px;
  }
  .navbar .logo a{
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
  }

  .navbar .logo img{
    margin-top: 10px;
  }
  nav .navbar .nav-links{
    line-height: 70px;
    height: 100%;
  }
  nav .navbar .links{
    display: flex;
  }
  nav .navbar .links li{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0 14px;
    color: #fff;
  }

  nav .navbar .links li a{
    height: 100%;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
  }
  .links li:hover .htmlcss-arrow,
  .links li:hover .js-arrow{
    transform: rotate(180deg);
    }
  
  nav .navbar .links li .arrow{
    /* background: red; */
    height: 100%;
    width: 22px;
    line-height: 70px;
    text-align: center;
    display: inline-block;
    color: #fff;
    transition: all 0.3s ease;
  }
  nav .navbar .links li .sub-menu{
    position: absolute;
    top: 70px;
    left: 0;
    line-height: 40px;
    background: #1C1C1C;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4px 4px;
    display: none;
    z-index: 2;
  }
  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu{
    display: block;
  }

  .navbar .nav-links ul.links li a:hover {
    color: #B22222; /* Color on hover */
    font-weight: 550;
  }

  .navbar .links li .sub-menu li{
    padding: 0 22px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
  }
  .navbar .links li .sub-menu a{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
  }
  .navbar .links li .sub-menu .more-arrow{
    line-height: 40px;
  }
  .navbar .links li .htmlCss-more-sub-menu{
     line-height: 40px; 
  }
  .navbar .links li .sub-menu .more-sub-menu{
    position: absolute;
    top: 0;
    left: 100%;
    border-radius: 0 4px 4px 4px;
    z-index: 1;
    display: none;
  }
  .links li .sub-menu .more:hover .more-sub-menu{
    display: block;
  }
  .navbar .search-box{
    position: relative;
     height: 40px;
    width: 40px;
  }
  .navbar .search-box i{
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 40px;
    text-align: center;
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .navbar .search-box .input-box{
    position: absolute;
    right: calc(100% - 40px);
    top: 80px;
    height: 60px;
    width: 300px;
    background: #1C1C1C;
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
  }
  .navbar.showInput .search-box .input-box{
    top: 65px;
    opacity: 1;
    pointer-events: auto;
    background: #1C1C1C;
  }
  .search-box .input-box::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background: #1C1C1C;
    right: 10px;
    top: -6px;
    transform: rotate(45deg);
  }
  .search-box .input-box input{
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    height: 35px;
    width: 280px;
    outline: none;
    padding: 0 15px;
    font-size: 16px;
    border: none;
  }
  .navbar .nav-links .sidebar-logo{
    display: none;
  }
  .navbar .bx-menu{
    display: none;
  }

  /*Most Popular slideshow*/
  .wrapper { 
    max-width: 1090px; 
    width: 100%; 
    position: relative; 
    margin: auto;
} 
  
.wrapper i { 
    height: 50px; 
    width: 50px; 
    background: #B22222; 
    text-align: center; 
    line-height: 50px; 
    border-radius: 50%; 
    cursor: pointer; 
    position: absolute; 
    top: 50%; 
    font-size: 1.25 rem; 
    transform: translateY(-50%); 
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23); 
    margin-left: -28px;
  
} 
  
.wrapper i:first-child { 
    left: -22px; 
  
} 
  
.wrapper i:last-child { 
    right: -22px; 
  
} 
  
.wrapper .carousel { 
    display: grid; 
    grid-auto-flow: column; 
    grid-auto-columns: calc((100% / 3) - 12px); 
    gap: 16px; 
    overflow-x: auto; 
    scroll-snap-type: x mandatory; 
    scroll-behavior: smooth; 
    scrollbar-width: 0; 
} 
  
.carousel::-webkit-scrollbar { 
    display: none; 
} 
  
.carousel :where(.card, .img) { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
} 
  
.carousel.dragging { 
    scroll-snap-type: none; 
    scroll-behavior: auto; 
} 
  
.carousel.no-transition { 
    scroll-behavior: auto; 
} 
  
.carousel.dragging .card { 
    cursor: grab; 
    user-select: none; 
} 
  
.carousel .card { 
    scroll-snap-align: start; 
    height: 340px; 
    list-style: none; 
    background: #fff; 
    border-radius: 8px; 
    display: flex; 
    cursor: pointer; 
    width: 98%; 
    padding-bottom: 15px; 
    align-items: center; 
    justify-content: center; 
    flex-direction: column; 
} 
  
.card .img { 
    background: #B22222; 
    width: 145px; 
    height: 145px; 
    border-radius: 50%; 
  
} 
  
.card .img img { 
    width: 140px; 
    height: 140px; 
    object-fit: cover; 
    border-radius: 50%; 
    border: 4px solid #fff; 
} 
  
.card h2 { 
    font-weight: 500; 
    font-size: 1.56rem; 
    margin: 30px 0 5px; 
} 
  
.card span { 
    color: #6a6d78; 
    font-size: 1.31rem; 
  
} 
  

@media screen and (min-width: 1920px) {
    .welcome-body, .login-body, .access-body {
        background-size: cover; /* Ensure the background image covers the screen */
    }
    
    .welcome-container, .login-container, .access-container {
        max-width: 1600px; /* Adjust to a wider container size */
        padding: 100px; /* Increase padding for better spacing on wider screens */
    }

    .btn-red, .btn-white {
        padding: 15px 60px; /* Increase button padding for better proportion */
    }

    .input-container .toggle-password {
        position: relative;
        right: -120px; /* Adjust this value to move the icon further right */
        top: 50%; /* Adjust vertical positioning if needed */
        transform: translateY(-100%);
        cursor: pointer;
        color: #b22222;
    }

    .nav {
        padding: 15px 100px;
      }
      .nav .search-box {
        right: 150px;
      }
}


/* Responsive styles */
@media (max-width: 992px) {
    nav .navbar{
        max-width: 100%;
        padding: 0 25px;
      }
    
      nav .navbar .logo a{
        font-size: 27px;
      }
      nav .navbar .links li{
        padding: 0 10px;
        white-space: nowrap;
      }
      nav .navbar .links li a{
        font-size: 15px;
      }
      .wrapper .carousel { 
        grid-auto-columns: calc((100% / 2) - 9px); 
  
    } 
}

@media (max-width:800px){

    .navbar .bx-menu{
      display: block;
    }
    nav .navbar .nav-links{
      position: fixed;
      top: 0;
      left: -100%;
      display: block;
      max-width: 270px;
      width: 100%;
      background:  #1C1C1C;
      line-height: 40px;
      padding: 20px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      transition: all 0.5s ease;
      z-index: 1000;
    }

    .navbar .nav-links .sidebar-logo{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .sidebar-logo .logo-name{
      font-size: 25px;
      color: #B22222;
    }
      .sidebar-logo  i,
      .navbar .bx-menu{
        font-size: 25px;
        color: #B22222;
      }
    nav .navbar .links{
      display: block;
      margin-top: 20px;
    }
    nav .navbar .links li .arrow{
      line-height: 40px;
    }
  nav .navbar .links li{
      display: block;
    }
  nav .navbar .links li .sub-menu{
    position: relative;
    top: 0;
    box-shadow: none;
    display: none;
  }
  nav .navbar .links li .sub-menu li{
    border-bottom: none;
  
  }
  .navbar .links li .sub-menu .more-sub-menu{
    display: none;
    position: relative;
    left: 0;
  }
  .navbar .links li .sub-menu .more-sub-menu li{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .links li:hover .htmlcss-arrow,
  .links li:hover .js-arrow{
    transform: rotate(0deg);
    }
    .navbar .links li .sub-menu .more-sub-menu{
      display: none;
    }
    .navbar .links li .sub-menu .more span{
      /* background: red; */
      display: flex;
      align-items: center;
      /* justify-content: space-between; */
    }
  
    .links li .sub-menu .more:hover .more-sub-menu{
      display: none;
    }
    nav .navbar .links li:hover .htmlCss-sub-menu,
    nav .navbar .links li:hover .js-sub-menu{
      display: none;
    }
  .navbar .nav-links.show1 .links .htmlCss-sub-menu,
    .navbar .nav-links.show3 .links .js-sub-menu,
    .navbar .nav-links.show2 .links .more .more-sub-menu{
        display: block;
      }
      .navbar .nav-links.show1 .links .htmlcss-arrow,
      .navbar .nav-links.show3 .links .js-arrow{
          transform: rotate(180deg);
  }
      .navbar .nav-links.show2 .links .more-arrow{
        transform: rotate(90deg);
      }
  }

/* Responsive design */
@media screen and (max-width: 768px) {
    .login-container {
        padding: 20px;
    }
}

@media screen and (max-width: 576px) {
    .login-container {
        padding: 15px;
    }

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    body {
        font-family: 'Inter', sans-serif;
        background-color: #1C1C1C; /* Dark background */
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    
    h1 {
        font-family: 'Jomolhari', serif;
        color: #b22222;
        margin-bottom: 10px;
    }
    
    p {
        font-family: 'Jomolhari', serif;
    }
    
    /* Welcome Page Styles */
    .welcome-body {
        background: url('img/bulul.png') no-repeat center center fixed, #1C1C1C; /* Image overlaid on a dark background */
        background-size: 300px; /* Adjust as needed */
        box-shadow: none; /* Remove the box-shadow */
    }
    
    .welcome-container {
        margin-top: 250px;
        text-align: center;
        padding: 50px;
        border-radius: 20px;
        box-shadow: none;
    }
    
    .welcome-container h1 {
        color: #FFFFFF;
        font-size: x-large;
        font-weight: lighter;
    }
    
    /* Login Page Styles */
    .login-body {
        background: url('img/bulul-low-op.png') no-repeat center center fixed;
        background-color: #1C1C1C;
        background-size: 300px; /* Adjust as needed */
        box-shadow: none; /* Remove the box-shadow */
    }
    
    .login-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        margin: auto;
        border-radius: 20px;
        box-shadow: none;
        max-width: 400px;
        width: 100%;
        text-align: center;
    }
    
    .login-container h1 {
        color: #FFFFFF;
    }
    
    /*Access as Guest Styles*/
    .access-container {
        text-align: center;
        padding: 10px;
        border-radius: 20px;
        box-shadow: none;
        max-width: 400px;
        width: 100%;
        box-shadow: none;
    }
    
    .checkbox-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;    
        margin-bottom: 20px;
    }
    
    .input-container {
        margin-bottom: 10px;
    }
    
    .input-field {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        border: 1px solid #b22222;
        border-radius: 5px;
        background-color: rgba(28, 28, 28, 0.8);
        color: #FFFFFF;
        outline: none;
        font-size: 16px;
    }
    
    .hidden {
        display: none;
    }
    
    h1, .header1 {
        font-family: 'Jomolhari', serif;
        color: #b22222;
        margin-bottom: 20px;
    }
    
    form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .input-container {
        position: relative;
        margin-bottom: 10px;
    }
    
    .input-container input {
        padding-left: 30px; /* Space for the icon */
        padding-right: 12px; /* Adjust as necessary */
        padding-top: 10px; /* Adjust vertical padding to center text */
        padding-bottom: 10px; /* Adjust vertical padding to center text */
        width: 100%; /* Ensures the input field spans the container */
        border: 1px solid #b22222;
        border-radius: 5px;
        text-indent: 30px; /* Creates a tabbed effect for the input text */
        background-color: rgba(0, 0, 0, 0.2);
        color: #B22222;
        outline: none;
        font-size: 16px;
    }
    
    .input-container .toggle-password {
        position: absolute;
        right: 100px;
        left: 195px;
        transform: translateY(-15%);
        cursor: pointer;
        color: #b22222;
    }  
    
    .input-container i {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-10%);
        color: #b22222; /* Adjust icon color as needed */
    }
    
    .input-container .icon-left {
        left: 10px;
        top: 40px;
    }
    
    input[type="text"],
    input[type="password"] {
        padding: 12px;
        margin-bottom: 10px;
        border: 3px solid #b22222;
        border-radius: 10px;
        outline: none;
        font-size: 16px;
        color: #FFFFFF;
    }
    
    button {
        background-color: #b22222;
        color: #FFFFFF;
        border: none;
        padding: 12px 20px;
        cursor: pointer;
        border-radius: 20px;
        font-size: 16px;
        text-decoration: none;
        transition: background-color 0.3s ease-in-out;
        margin-top: 55px; /* Adjusted margin */
    }
    
    button:hover {
        background-color: #8B0000;
    }
    
    /* Red button styles */
    .btn-red {
        background-color: #b22222;
        color: #FFFFFF;
        border: 1.25px solid #b22222;
        padding: 12px 50px;
        cursor: pointer;
        border-radius: 20px;
        font-size: 16px;
        text-decoration: none;
        display: inline-block;
        margin: 5px;
        transition: background-color 0.3s ease-in-out;
    }
    
    .btn-red:hover {
        background-color: #FFFFFF; /* Darkened primary color */
        color: #8B0000;
        border: 1.25px solid #b22222;
    }
    
    /* White button styles */
    .btn-white {
        background-color:#FFFFFF;
        color: #b22222;
        border: 1.25px solid #b22222;
        padding: 12px 50px;
        cursor: pointer;
        border-radius: 20px;
        font-size: 16px;
        text-decoration: none;
        display: inline-block;
        margin: 5px;
        transition: background-color 0.3s ease-in-out;
    }
    
    .btn-white:hover {
        background-color: #B22222; /* Darkened primary color */
        color: #FFFFFF;
        border: 1.25px solid #FFFFFF;
    }
    
    .access-body {
        font-family: 'Inter', sans-serif;
        background: url('img/bulul-low-op.png') no-repeat center center fixed, #1C1C1C; /* Image overlaid on a dark background */
        background-size: 300px; /* Adjust as needed */
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        position: relative; /* Ensure relative positioning for absolute logo */
        color: #FFFFFF;
    }
    
    .access-buttons {
        display: flex;
        flex-direction: column; /* Ensure buttons stack vertically */
        align-items: center; /* Center align items horizontally */
    }
    
    .custom-radio {
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        margin-bottom: 10px;
    }
    
    .custom-radio input[type="radio"] {
        display: none; /* Hide the actual radio button */
    }
    
    .custom-radio input[type="radio"] + .custom-radio-span {
        width: 20px;
        height: 20px;
        border: 2px solid #b22222;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        margin-right: 10px;
    }
    
    .custom-radio input[type="radio"]:checked + .custom-radio-span::before {
        content: '';
        width: 10px;
        height: 10px;
        background-color: #b22222;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .form-container {
        width: 100%; /* Ensures both forms take up the same width */
        max-width: 100%; /* Prevents overflow beyond container */
        box-sizing: border-box; /* Includes padding and border in the element's total width and height */
        min-height: 200px; /* Set a minimum height for consistency */
    }
    
    .back-button-container {
        position: absolute;
        top: 50px;
        left: 20px;
    }
    
    .logo-container {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .logo {
        max-width: 180px;
        height: auto;
    }

    /*Navbar Style*/
    nav .navbar .nav-links{
        max-width: 100%;
    }

    /*Most Popular slideshow*/
    .wrapper { 
        max-width: 300px; 
        width: 100%; 
        position: relative; 
    } 

    .wrapper .carousel { 
        grid-auto-columns: 100%; 
  
    }

        .wrapper i { 
        height: 50px; 
        width: 50px; 
        background: #B22222; 
        text-align: center; 
        line-height: 50px; 
        border-radius: 50%; 
        cursor: pointer; 
        position: absolute; 
        top: 50%; 
        font-size: 1.25 rem; 
        transform: translateY(-10%); 
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23); 
        margin-left: -28px;
       
    }  
}

